#container{
	padding: 5%;
	margin-left: 3%;
	border: solid;

	border-radius: 20px;
	background-color: grey;
	margin-top: 10px;
	width: 78%;
	/* removed fixed pixel width and converted to percent,  removed auto margins */
}

#header{
	border: solid;
	background-color: blue;

	padding: 5%;
	margin-left: 3%;
	border: solid;
	width: 80%;

	margin-top: 5px;
	height: 100px;
	border-radius: 20px;
	border-color: red;
	color: red;
}
#textarea{
	height: 700px;
	width: 70%;
	background-color: green;
	border: solid;
	border-radius: 20px;
	border-color: red;
	padding: 8px;
}
img{
	height: 600px;
	width: 900px;
	border: solid;
	border-color: red;
	border-radius: 20px;
}

#sidebar{
	width: 20%;
	height: 600px;
	background-color: yellow;
	border: solid;
	border-color: red;
	float: right;
	padding: 10px;
}

.sidebutton{
	width: 80%;
	padding: 2%;
	float: left;
    background-color: pink;
    /* stack them vertically on top of each other.. how  nothing to right or left*/
    clear: both;
    margin-bottom: 20px;
}

.ClickThing{
	height: 30px;
	
	}